Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-std-print,
  -modernize-avoid-c-arrays,
  -modernize-use-nodiscard,
  -modernize-use-auto,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  performance-*,
  -performance-avoid-endl,
  -performance-inefficient-string-concatenation,
  -performance-unnecessary-value-param,
  -performance-enum-size

FormatStyle: file
